In [1]:
days = 365

In [2]:
days

365

In [4]:
number_days = 365

In [5]:
day_1 = 365

In [9]:
day_2 = 366

In [10]:
spain = 95

In [11]:
france = 88
canada = 75

In [12]:
# print()
print(spain)

95

In [13]:
print(france)

88

In [14]:
print(canada)

75

In [15]:
# entier /integer

In [16]:
france = 123

In [17]:
# type()
france_type = type(france)

In [18]:
print(france_type)

<class 'int'>

In [19]:
# Float
france_exact = 122.5
france_type = type(france_exact)
print(france_type)

<class 'float'>

In [20]:
# String

In [22]:
hello ='hell'
print(hello)

hell

In [23]:
print(type(hello))

<class 'str'>

In [24]:
# Boolean
true_type = True
false_type = False
print(type(true_type))

<class 'bool'>

In [25]:
# Convertir types de données
#str() et int()
int_to_string = str(785)
print(int_to_string)

785

In [26]:
print(type(int_to_string))

<class 'str'>

In [27]:
str_to_int = int('27')
print(type(str_to_int))
print(str_to_int)

<class 'int'>
27

In [28]:
str_to_int = int("jean")

ValueError: invalid literal for int() with base 10: 'jean'

# Opérations

In [29]:
# addtion
somme = 95 + 24
somme

119

In [41]:
spain = 95
france = 82
sum = france + spain

In [42]:
sum

177

In [43]:
# Puissance 
square = 5
squared = square ** 2

In [44]:
squared

25

In [45]:
# multiplications
double_fr = france * 2

In [46]:
print(double_fr)

164

In [47]:
# division

In [48]:
div_fr = france/2

In [49]:
print(div_fr
     )

41.0

In [50]:
type(div_fr)

float

In [51]:
# Soustraction
minus = spain - france
print(minus
     )

13

In [53]:
france_celsius = (france-32)*0.56

In [54]:
print(france_celsius)

28.000000000000004

# Creation liste

In [55]:
months = []

In [57]:
# append()
months.append('january')
months.append('february')

In [58]:
print(months)

['january', 'february']

In [59]:
months = []

In [60]:
months.append(1)
months.append('january')

In [61]:
months.append(2)
months.append('february')

In [62]:
print(months)

[1, 'january', 2, 'february']

In [63]:
months = [ 1 , "janvier", 2, "février",3,"mars",4,"avril"]

In [64]:
print(months)

[1, 'janvier', 2, 'février', 3, 'mars', 4, 'avril']

In [65]:
temp = ['France', 122.5, 'spain', 124.0]

In [66]:
temp.append('canada')
temp.append(132.5)

In [67]:
print(temp)

['France', 122.5, 'spain', 124.0, 'canada', 132.5]

# Valeur in list

In [68]:
months[0]

1

In [69]:
months[1]

'janvier'

In [73]:
countries = []
temp =[]
countries.append('France')
countries.append('Spain')
countries.append('Canada')
temp.append(122.5)
temp.append(124.0)
temp.append(105.2)

In [74]:
france = countries[0]

In [75]:
france_temp = temp[0]

In [76]:
print(france)

France

In [77]:
print(france_temp)

122.5

In [78]:
# récupérer lentgh list

In [79]:
len(temp)

3

In [80]:
len(countries)

3

In [81]:
temp[5]

IndexError: list index out of range

In [82]:
months = [1,2,3,4,5,6,7,8,9,10,11,12]

In [83]:
len(months
   )

12

In [84]:
print(len(months))

12

In [86]:
print(months[len(months)-2])

11

In [87]:
last_pos = len(months)-1

In [88]:
last_value = months[last_pos]

In [89]:
print(last_value)

12

In [90]:
countries.append('United States')

In [91]:
countries.append('Argentina')
countries.append('Australia')
temp.append(112.5)
temp.append(134.1)
temp.append(128.3)
sum= len(countries) + len(temp)

In [92]:
print(sum
     )

12

# Slicing

In [93]:
temp_slicing = temp[2:6]

In [94]:
# 2 à 6 exclus
print(temp_slicing)

[105.2, 112.5, 134.1, 128.3]

In [95]:
# à partir de 3
temp_slicing = temp[3:len(temp)]
print(temp_slicing)

[112.5, 134.1, 128.3]

In [96]:
temp_slicing = temp[3:]
print(temp_slicing)

[112.5, 134.1, 128.3]

In [97]:
countries_slice = countries[0:3]
temp_slice= temp[len(temp)-4:]
print(countries_slice)
print(temp_slice)

['France', 'Spain', 'Canada']
[105.2, 112.5, 134.1, 128.3]

In [98]:
temp

[122.5, 124.0, 105.2, 112.5, 134.1, 128.3]